.cta{
    display: flex;
    width: 100%;
    padding: 0px 20px 0 20px;
    align-items: flex-start;
    font-size: 1.6rem;
    background-color: orangered;
    color: white;
    height: 100%;
    @media @phoneView {
        max-height: 100px;
    }
}